@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background-image: url(../images/white-waves.png);	
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: grey;

}

.navagation {
	/*padding-top: 30px;*/
	color: red;
}

.our-content {
	max-width: 600px;
	margin: auto;
	line-height: 2.2em;
	padding-top: 20px;
	padding-bottom: 60px;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

img {
  max-width: 100%;
  /*width: 300px;*/
  height: auto;
  vertical-align: middle
}

button:hover {
	background-color: orange;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #FFA500;
}

.active {
	background-color: #4CAF50;
}

